# Imports

In [1]:
import os
import sys
import glob
import datetime

import pandas as pd

In [2]:
sys.path.append(os.path.abspath('../../'))
sys.path.append(os.path.abspath('../../eventpredictor'))

import eventpredictor.config as paths
from eventpredictor.data.download_data import FootballScraper as fs

2024-06-02 12:31:53.673 | INFO     | config:<module>:11 - PROJ_ROOT path is: /Users/maurycystopowski/Documents/Stuff/Projects/eventpredictor
2024-06-02 12:31:53.686 | INFO     | eventpredictor.config:<module>:11 - PROJ_ROOT path is: /Users/maurycystopowski/Documents/Stuff/Projects/eventpredictor

In [3]:
df = pd.read_csv(os.path.join(paths.STATISTICS, 'statistics.csv'))

In [4]:
df.head()

,id,home_ball_possession_all,away_ball_possession_all,homeValue_ball_possession_all,awayValue_ball_possession_all,home_total_shots_all,away_total_shots_all,homeValue_total_shots_all,awayValue_total_shots_all,home_shots_on_target_all,...,homeValue_counter_attack_goals_all,awayValue_counter_attack_goals_all,home_counter_attack_goals_1st,away_counter_attack_goals_1st,homeValue_counter_attack_goals_1st,awayValue_counter_attack_goals_1st,home_counter_attack_goals_2nd,away_counter_attack_goals_2nd,homeValue_counter_attack_goals_2nd,awayValue_counter_attack_goals_2nd
0,8234005,51%,49%,51.0,49.0,10.0,6.0,10.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7448706,49%,51%,49.0,51.0,8.0,12.0,8.0,12.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8272050,54%,46%,54.0,46.0,16.0,14.0,16.0,14.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11392834,78%,22%,78.0,22.0,8.0,7.0,8.0,7.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7863678,45%,55%,45.0,55.0,12.0,12.0,12.0,12.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
cols_to_select = ['id']

In [6]:
for col in df.columns:
    if '_all' in col and 'Value' not in col:
        cols_to_select.append(col)

In [7]:
df = df.loc[:, cols_to_select]

In [8]:
df['home_ball_possession_all'] = df['home_ball_possession_all'].str.split('%').str.get(0).astype('float')
df['away_ball_possession_all'] = df['away_ball_possession_all'].str.split('%').str.get(0).astype('float')

In [9]:
df.to_csv(os.path.join(paths.STATISTICS, 'statistics_filtered.csv'), index=False)

: